@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIDLY</h1>
    <p class="lead">Welcome to Vidly - the best movie rental store.</p>
    <img src="~/Content/Images/rental-store-image.jpg" width="600" height="400">
</div>

<div class="row">
    
</div>